* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins sans-serif !important;
}
body{
  background-image: linear-gradient(to left top, #373105, #594400, #835400, #b46100, #eb6812);
  text-align: center;
}

.food{
  margin: 100px;
}
h1{
  color: #fff;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input{
  border-radius: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 6px 12px;
}
#search{
  background-color: #198754;
  color: #fff;
}
