* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.all-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 30px;
    gap: 150px;
    margin: 0 auto;
}
.items{
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    border-radius: 20px;
    background-color: #fff;
    gap: 30px;
    cursor: pointer;
}
img{
    width: 280px;
}
.items:hover{
    transform: scale(1.2);
    transition: ease-out 1s;
}
.items-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
button{
    font-size: 18px;
    padding: 5px 15px;
    background-color: #198754;
    color: #fff;
    border: none;
    border-radius: 5px;
}


@media(max-width: 1300px){
    .all-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        margin: 0 auto;
        gap: 120px;
    }
    .items,img{
        width: 250px;
    }
}
@media(max-width: 1150px){
    .all-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: 0 auto;
        gap: 100px;
    }
    .items,img{
        width: 260px;
    }
}

@media(max-width: 750px){
    .all-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: 0 auto;
        gap: 80px;
    } 
    .items,img{
        width: 200px;
    }
    
}

@media(max-width: 600px){
    .all-items{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 0 auto;
    } 
}